body{
font-family:arial, sans-serif;
background-image:url('image7.jpeg');
margin:100px 500px;

}

.form-div{
background-image:url('image2.jpg');
border:2px solid blue;
width:250px;
text-align:center;
border-radius:15px;
box-shadow:0 0 10px lightblue;

}

.form-div h2{
color:white;

}

input[type='text'], input[type='password']{
height:35px;
text-align:center;
border:2px solid blue;
margin:5px;
font-size:18px;
width:200px;
border-radius:15px;

}

input[type='text']:focus , input[type='password']:focus{
outline:none;
background-color:lightblue;
}
 
input[type='submit']{
background-color: darkblue;
color:white;
border:none;
font-size:18px;
padding:8px 40px;
border-radius:50px;
margin:5px 0 10px 0;

}

input[type='submit']:hover{
opacity:0.8;
cursor:pointer;


}

body{

font-family:arial , sans-serif;

background: white url('https://gdurl.com/zz4r')  no-repeat scroll top center;

}

.form-div{

width:250px;

text-align:center;

margin:150px auto;

background-color:rgba(0,0,0,0.5);

border-radius:10px;

box-shadow:0 0 15px #00aeef;

}

.form-div img{

width:100px;

margin-top:-50px;

}

.form-div h2{

color:white;

margin-top:10px;

}

input[type='text'],input[type='password']{

text-align:center;

border:none;

outline:none;

font-size:18px;

height:35px;

background:transparent;

color:white;

border-bottom:3px solid teal;

width:200px;

}

::placeholder{

color:lightgrey;

}

input[type='text']:focus,input[type='password']:focus{

border-bottom:3px solid #00aeef;

}

input[type='submit']{

background-color:teal;

color:white;

border:none;

font-size:18px;

margin:15px;

padding:8px 35px;

border-radius:50px;

}

input[type='submit']:hover{

background-color:#00aeef;

box-shadow:0 0 15px white;

border:none;

outline:none;

}
